<template>

  <v-app>

    <v-navigation-drawer v-model="sidebar" app>
      <v-list dense nav>
        <v-list-item router :to="item.path" link v-for="item in menuItems" :key="item.title">
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>   

    <v-app-bar app>
      <v-app-bar-nav-icon @click="sidebar = !sidebar"></v-app-bar-nav-icon>
      <v-app-bar-title>Home</v-app-bar-title>
      <v-spacer></v-spacer>
      <AuthenticationButton/>
    </v-app-bar>

    <br/>

    <v-main>
      <router-view></router-view>
    </v-main>

    <v-footer>
      todo.adamshergold.cloud
    </v-footer>
  </v-app>

</template>

<script>
import AuthenticationButton from '@/components/authentication-button';

export default {
  name: "App",
  components: { AuthenticationButton },
  data(){
    return {
      sidebar: false,
      menuItems: [
          { title: 'Home', path: '/', icon: 'mdi-home' },
          { title: 'About', path: '/about', icon: 'mdi-home' },
      ]  
    }
  },
};
</script>