<template>
    <v-flex sm10 offset-sm1>
        <v-card>
            <v-card-title>
                About
            </v-card-title>
            <v-card-text>
                A simple web application to manage a to-do list.
            </v-card-text>
        </v-card>
    </v-flex>
</template>

<script>
export default {
    name: 'About',
}
</script>

