<template>

  <v-tooltip bottom v-if="$auth.isAuthenticated">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          v-on="on"
          @click.prevent="logout">
          Log Out
        </v-btn>
      </template>
      <span>{{$auth.user.name}}</span>
  </v-tooltip>

</template>

<script>
  export default {
    name: 'LogoutButton',
    methods: {
      logout() {
        this.$auth.logout( { returnTo: 'https://www.todo.adamshergold.cloud'} );
        this.$router.push({ path: '/' });
      },
    },
  };
</script>