<template>
  <v-container>
    <v-row >
      <v-col cols="9">
        <v-text-field 
          dense 
          :value="item.title" 
          :readonly = "isReadOnly"
          @blur = "onEditComplete"
          @keydown.enter.prevent = "onEditComplete"
          v-bind:class = "[item.isDone ? 'is-done' : '']"
          >
        </v-text-field>
      </v-col>
      <v-col>
        <v-btn
          fab
          x-small
          color="secondary"
          @click="onEdit">
          <v-icon>mdi-pencil</v-icon>
        </v-btn>    
      </v-col>
      <v-col>
        <v-btn
          fab
          x-small
          color="success"
          @click="toggleDone">
          <v-icon>mdi-check</v-icon>
        </v-btn>  
      </v-col>
      <v-col>      
        <v-btn
          fab
          x-small
          color="error"
          @click="onDelete">
          <v-icon>mdi-delete-forever</v-icon>
        </v-btn>        
      </v-col>
    </v-row>
  </v-container>
  <!-- <v-layout>
    <v-flex>
      <v-textarea :value = "title" solo :rows = "1" auto-grow>
      </v-textarea>
    </v-flex>
    <v-layout row>
    </v-layout>  
  </v-layout> -->
</template>

<script>
export default {
  name: 'ToDoItem',
  props: ['todo'],
  data () {
    return {
      isReadOnly: true,
      item: {
        id: this.todo.id,
        title : this.todo.title,
        isDone : this.todo.isDone
      },
    }
  },
  methods: {
    onDelete() {
      this.$emit('delete', this.item.id)
    },
    onEdit () {
      this.isReadOnly = false
    },
    toggleDone () {
      this.isReadOnly = true
      this.item.isDone = !this.item.isDone;
      this.$emit('changed', this.item)
    },
    onEditComplete (e) {
      this.item.title = e.target.value;
      this.$emit('changed', this.item);
    }    
  }
}
</script>

<style>
.is-done {
  text-decoration: line-through;
}
</style>
