<template>
  <v-flex sm10 offset-sm1>
    <v-card>
      <v-card-text>
        <v-form>
          <v-text-field label="what do you need to do?" v-model="newItem">
          </v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="addItem">Add</v-btn>
      </v-card-actions>
    </v-card>

    <br/>
    
    <v-card>
      <v-card-title>
        Things To Do
      </v-card-title>
      <ToDoItem 
        v-for="item in items" 
        :todo="item" 
        :key="item.id"
        @delete="onDeleteItem"
        @changed="onChangeItem"
        />
    </v-card>

  </v-flex>
</template>

<script>
import ToDoItem from './todo-item.vue';

import * as axios from 'axios';

axios.defaults.baseURL = process.env.VUE_APP_API_SERVER_URL;

export default {
  name: 'ToDoList',
  data() {
    return {
      items: [],
      newItem : undefined
    }
  },
  async created() {
    await this.loadItems();
  },
  components: { ToDoItem },
  methods: {
    async headers() {
      const accessToken = await this.$auth.getTokenSilently();
      return { headers : {
          Authorization: `Bearer ${accessToken}`,
        }
      };
    },
    async getItems() {
      const response = await axios.get('todo/items', await this.headers());
      return response.data;
    },
    async deleteItem(id) {
      const response = await axios.delete(`todo/items/${id}`, await this.headers());
      return response.data;
    },
    async loadItems() {
      this.items = []
      this.items = await this.getItems()
    },
    async onDeleteItem(id)
    {
      this.items = this.items.filter(i => !(id === i.id));
      await this.deleteItem(id);
    },
    async onChangeItem(item)
    {
      console.log(item);
      var index = this.items.indexOf(i => !item.id === i.id);
      this.items[index] = item;
      var data = { 'id': item.id, 'title': item.title, 'isDone': item.isDone };
      await axios.put('todo/items', data);
    },
    async addItem(){
      var data = { title: this.newItem };
      const response = await axios.post('todo/items', data, await this.headers(),);
      this.items.push(response.data);
    }
  }
}
</script>

